
.ipynb_checkpoints/Exercise-01-Reconstruction-Sequences-checkpoint.ipynb

.ipynb_checkpoints/Exercise-02-Comparing-Plate-Models-checkpoint.ipynb

.ipynb_checkpoints/Exercise-03-Working-with-Paleo-Data-checkpoint.ipynb

.ipynb_checkpoints/Exercise-04-Paleoshoreline-Validation-checkpoint.ipynb

.ipynb_checkpoints/Exercise-05-Reconstructed-Fossils-checkpoint.ipynb

.ipynb_checkpoints/Exercise-06-Plate-Size-Distributions-checkpoint.ipynb

*.png

plate_polygons.dbf

plate_polygons.prj

my_fossils.gpml

plate_polygons.shp

plate_polygons.shx

Global_Paleoshorelines_Golonka.gpml
